
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Move Tab -->
  <ion-tab title="Move" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Filters Tab -->
  <ion-tab title="Filters" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Refresh Tab -->
  <ion-tab title="Refresh" icon-off="ion-ios-refresh-outline" icon-on="ion-ios-refresh" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  

</ion-tabs>
